html {
  background-color: #bbb;
}

#createList {
  display: inline;
}

.complete {
  text-decoration: line-through;
}

.deleteTask, .confirmDeleteTask {
  font-size: 10px;
}

.button {
  padding: 2px 5px;
  display: inline-block;
  border: solid 1px black;
  border-radius: 40%;
}

ins {
  text-decoration: none;
}

.title {
  text-decoration: underline;
}
